body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .main-nav {
    background-color: lightgreen;
    border-radius: 0 0 100px 100px;
    padding: 25px;
  }
  /* Contactus */
  .contactus{
  color: black;
  padding: 100px 0;
  background-color: white;
  margin: auto;
  max-width: 1825px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  gap: 25px;
  }
  
  .headers-Contactus {
    font-size: large;
    font-weight: bold;
    
  }
  .texts-Contactus {
    font-weight: 700;
    text-align: center;
    font-size: 100%;
  }
  .social-media-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .social-media-links li {
    margin: 5px 0;
  }
/* Footer */

.site-footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    top: 50px;
    margin-top: 15%;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-links a {
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #fff;
  }