body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .main-nav {
    background-color: lightgreen;
    
  }
  
  .nav-container {
    height: 80px;
    background-color: lightgreen;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 0 100px;
    max-width: 1300px;
    margin: auto;
  }  
  .nav-link {
    width: 50%;
    }
  
  .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .nav-link a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 50px;
    transition: .3s;
  }
  .nav-link a:hover {
    background-color: lightgreen;
    color: #fff;
  }
  .signinbtn{
    border-radius: 50px;
    height: 52px;
    border: none;
    font-weight:600;
    font-size: medium;
    padding: 0 20px;
    background-color: darkblue;
    color: #fff;
    text-transform: uppercase;
    transition: .3s;
  }
  .signinbtn:hover{
    background-color: lightgreen;
    color: black;
  }
  .cartbtn{
    background-color: lightgreen;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .cartbtn img{
  transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .cartbtn:hover img {
    transform: scale(1.1);
    opacity: 2.0;
  }
  /* Contactus */
  .contactus{
    background-color: lightgreen;
    align-items: center;
    margin-top: 5%;
  }
  
  .headers{
    text-align: left;
    font-weight: bold;
    
  }
  .texts {
    font-weight: 700;
    text-align: center;
    font-size: 100%;
}
/* Footer */

.site-footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    top: 50px;
    margin-top: 15%;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-links a {
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #fff;
  }